@font-face {
  font-family: 'Karla';
  font-weight: 400;
  src: url('../font/Karla-Regular.woff2') format('woff2'),
    url('../font/Karla-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Karla';
  font-weight: 700;
  src: url('../font/Karla-Bold.woff2') format('woff2'),
    url('../font/Karla-Bold.woff') format('woff');
}

@font-face {
  font-family: 'DM Serif Display';
  font-weight: 400;
  src: url('../font/DMSerifDisplay-Regular.woff2') format('woff2'),
    url('../font/DMSerifDisplay-Regular.woff') format('woff');
}

:root {
  --clr-primary-500: #2c2830;
  --clr-primary-400: #2d2641;
  --clr-primary-300: #837d88;
  --clr-primary-200: #96a9c6;
  --clr-primary-100: #fafafa;

  --ff-header: 'DM Serif Display', sans-serif;
  --ff-body: 'Karla', sans-serif;
}

/* CSS Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

/* General CSS Styles */

.btn {
  width: 146px;
  height: 40px;

  font-family: var(--ff-body);
  font-size: 13px;
  font-weight: 700;

  letter-spacing: 1.5px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-dark {
  border: 1px solid var(--clr-primary-500);
  color: var(--clr-primary-500);
}

.btn-dark:hover {
  background-color: var(--clr-primary-500);
  color: #fff;
}

/* Nav Styling */

header {
  /* width: 1440px; */
  height: 80px;

  border-bottom: 3px solid var(--clr-primary-400);

  display: flex;
  flex-direction: row;

  align-items: center;
}

.navbar {
  width: 1110px;
  margin-inline: auto;

  font-family: var(--ff-body);
  font-size: 13px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.navbar-nav ul {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.nav-link {
  padding-right: 30px;

  font-size: 13px;
  font-weight: 700;
  font-family: var(--ff-body);

  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--clr-primary-300);
}

.nav-link:hover {
  color: var(--clr-primary-500);
}
